* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.flex-me{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.board {
    display: flex;
    border: solid 1px black;
    width: 600px;
    height: 600px;
}

.cell {
    border: solid 1px black;
}
